body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#recipeGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
}

#recipeGrid .recipe-item {
    text-align: center;
    cursor: pointer;
    flex-basis: 100%;
}

#recipeGrid .recipe-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#recipeGrid .recipe-item img:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.details {
    display: none;
    margin-top: 15px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}

.details.active {
    display: block;
}

.details ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
}

.details ul li {
    background-color: #f8f9fa;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    border-bottom: 2px solid white;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #eee;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
}

/* Feedback Section */
#feedback {
    background-color: #f8f9fa;
}

/* Services Section */
#ser {
    background-color: #343a40;
    color: #ffffff;
    padding: 60px 20px;
    text-align: left;
}

#ser h2 {
    font-size: 2.5rem;
    color: #f8f9fa;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#ser p {
    font-size: 1.125rem;
    margin-bottom: 30px;
    color: #dddddd;

}

#ser ul {
    list-style-type: none;
    padding: 10px;
}

#ser ul li {
    background-color: #2b2e33;
    color: #dddddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#ser ul li::before {
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
}

#ser p:last-child {
    font-size: 1.125rem;
    margin-top: 20px;
    color: #dddddd;
}

#ser p a {
    text-decoration: none;
    color: #dddddd;
}

/* Contact Section */
#con {
    background-color: #f8f9fa;
}

#recipeContainer {
    background-color: #343a40;
    color: #ffffff;
}

/* Responsive  */

@media (max-width: 576px) {
    section {
        padding: 40px 10px;
    }

    #recipeGrid {
        gap: 10px;
        padding: 0 10px;
        overflow: hidden;
    }

    #recipeGrid .recipe-item {
        flex-basis: 100%;
    }

    #recipeGrid .recipe-item img {
        width: 100px;
        height: 100px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
        margin-top: 5px;
    }

    #feedback,
    #ser,
    #con {
        padding: 20px 10px;
    }

    #ser h2 {
        font-size: 2rem;
    }

    #ser p,
    #ser ul li {
        font-size: 1rem;
    }

    #ser ul li {
        padding: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #recipeGrid {
        gap: 15px;
        padding: 0 20px;
    }

    #recipeGrid .recipe-item {
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    #recipeGrid .recipe-item img {
        width: 120px;
        height: 120px;
    }

    #ser h2 {
        font-size: 2rem;
    }

    #ser p,
    #ser ul li {
        font-size: 1rem;
    }

    #ser ul li {
        padding: 10px;
    }

    .btn {
        padding: 12px 24px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h5 {
        font-size: 1.125rem;
    }
}

@media (min-width: 769px) {
    #recipeGrid {
        gap: 30px;
        padding: 0 30px;
    }

    #recipeGrid .recipe-item {
        flex-basis: 30%;
        margin-bottom: 30px;
    }

    #recipeGrid .recipe-item img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.25rem;
    }
}
